color-profile {
    color: #ECB7C1;
    color: #856662;
    color: #FFEDED;
    color: #FFC691;

}

body {
    width: 100%;
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ECB7C1;
    background-image: url("finalCupcake.png");
    background-repeat: repeat;
    background-size: 200px;
}

body:nth-child(2) {
    margin-top: 6em;
}

header {
    position: fixed;
    background-color: #856662;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 99;
    top: 0px;
}

button {
    /* Button */
    background: #856662;
    border: none;
    border-radius: 35px;
    width: 20%;
    height: 3em;
    align-self: center ;
    /* Text */
    font-family: 'Shrikhand';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #FFEDED;
}

.TGK_nav_container {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.TGK_nav_list {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 0;
}

.TGK_nav_link {
    color: #FFC691 !important;
    margin-inline: 1em;
    text-decoration: none !important;
    font-size: 16px !important;
}

.TGK_nav_link:hover {
    color: #FFEDED !important;
}

.TGK_card {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-radius: 50px;
    background-color: #FFEDED;
    margin-bottom: 2em;
    padding: 2em;
    filter: drop-shadow(10px 10px 4px rgba(77, 48, 32, 0.28));
}

.TGK_round_container {
    border-radius: 50%;
    width: 265px;
    height: 265px;
    overflow: hidden;
    /*
    background-image: url(persona_drawing_4.png);
    background-repeat: no-repeat;
    background-size: 600px;
    background-position-x: -160px;
    background-position-y: -45px;
    */
}

#TGK_avatar {
    max-height: 256px;
    max-width: 256px;
    height: inherit;
    width: inherit;
    border-radius: inherit;
    object-fit: cover;
    object-position: 5px 55px ;
    transform: scale(2.3);
}

/*
#TGK_card_name {

}
*/

/*
.TGK_card_list_container {

}
*/

.TGK_card_list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.TGK_card_list_elemement {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-style: solid;
    border-color: #856662;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.TGK_card_list_elemement:hover {
    border-color: #ECB7C1;
}

.TGK_card_list_elemement:hover path {
    fill: #ECB7C1;
}

#TGK_Kofi {
    padding-left: 6px;
}

#TGK_resume {

}

.TGK_text {
    font-family: Inter;
    font-weight: 500;
    font-size: 24px;
    font-style: normal;
    color: #856662;
}

.TGK_card_title {
    font-family: Shrikhand;
    color: #856662;
    align-self: center;
}

.TGK_square_img_container {
    width: 100%;
    overflow: hidden;
    margin-bottom: 1em;
}

.TGK_square_img_container > img {
    max-width: 100%;
}

.TGK_portfolio_list {
    padding-left: 0px   ;
    list-style: none;
}

.TGK_portfolio_element {
    width: 100%;
    overflow: hidden;
    margin-bottom: 1em;
}

.TGK_portfolio_element > img {
    border-radius: 35px;
    max-width: 100%;
}

#TGK_flex_card1 {
    display: flex;
    flex-direction: row;
}

#TGK_flex_social_X_aboutme {
    display: flex;
    flex-direction: column;
    width: calc(951.5px - 256px);
}

#TGK_flex_social_name {
    display: flex;
    flex-direction: column;
    height: 60%;
}

#TGK_flex_about_me {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#TGK_flex_about_me > h1 {
    min-width: fit-content;
    margin-inline-end: 24px;
}

a {
    text-decoration: underline;
    color: inherit;
}

a:hover {
    color: #ECB7C1;
}

a:visited {
    filter: brightness(150%);
}


